certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.3
connectedcar==1.3.3
decorator==4.4.2
idna==3.3
imageio==2.22.3
imageio-ffmpeg==0.4.7
joblib==1.2.0
moviepy==1.0.3
nltk==3.8.1
numpy==1.23.4
Pillow==9.3.0
proglog==0.1.10
pywatchman==1.4.1
regex==2022.10.31
requests==2.27.1
six==1.16.0
tqdm==4.64.1
urllib3==1.26.9
